* {
    box-sizing: border-box;
  }

body{
    font-family: 'Noto Sans SC', sans-serif;
    background-color:#FFF8F0; /* chiaro */
    margin: 0px;
    position: relative;
}
.main{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#topbar {
    background-color:#734F43; /* scuro */
    width: 100%;

}
#topbar > a{
    font-family: 'Sacramento', cursive;
    background-color:#734F43; /* scuro */
    color: #FFF8F0; /* chiaro */
    font-size: 40px;
    display: inline-block;
    padding: 5px 50px;
    text-decoration: none;
}

#menu{
    background-color: #BF9775; /* terziario */
    border: none;
    
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}



#menu > a, #menu > button, .menubutton {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #A67A53; /* secondario */
    border: none;
    color: #FFF8F0; /* chiaro */
    font-family: 'Crimson Text', serif;
    padding: 4px 10px;
    size: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}
#menu > :hover, #menu > button:hover, .menubutton:hover {
    background-color:#0477BF; /* accento */
    cursor:pointer;
    outline: none;
}
#menu > a > i,#menu > button > i, .menubutton > i{
    font-size: 23px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: -20px;
}

.right{
    float: right!important;
}


.width100{
    width: 100%;
}

.form{
    margin: 50px;
}

.center_form{
    padding: 2em;
    max-width: 360px;
    margin: auto;
    margin-top: 10%;
    /* margin-bottom: 10%; */
    background: #BF9775; /* terziario */
    text-align: center;
    color: #734F43; /* scuro */
}

.link  ,:visited{
    color:#0477BF; /* accento */
}
.link:hover{
    color:rgb(72, 161, 216); /* accento hover */
}

.formtextinput{
    font-family: 'Noto Sans SC', sans-serif;
    outline: 0;
    background: #FFF8F0; /* chiaro */
    color: #734F43; /* scuro */
    width: 100%;
    border: 0,0,2,0;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #734F43; /* scuro */
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
}

#bottom{
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    box-sizing: inherit;
    text-align: center;
    padding: 10px;
    background-color: #A67A53; /* secondario */
    color: #FFF8F0; /* chiaro */
    font-family: 'Crimson Text', serif;
}

/* font-family: 'Noto Sans SC', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Special Elite', cursive; */

/* colori:
#0477BF accento
#FFF8F0 chiaro
#A67A53 secondario
#734F43 scuro
#BF9775 terziario 
rgb(72, 161, 216);  accento hover */
