* {
    box-sizing: border-box;
  }

body{
    font-family: 'Noto Sans SC', sans-serif;
    background-color:#FFF8F0; /* chiaro */
    margin: 0px;
    position: relative;
    padding-bottom: 42px;
}
img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.main{
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    /* overflow: auto; */
}
.contenitorefloat{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
#topbar {
    background-color:#734F43; /* scuro */
    width: 100%;

}
#topbar > a{
    font-family: 'Sacramento', cursive;
    background-color:#734F43; /* scuro */
    color: #FFF8F0; /* chiaro */
    font-size: 40px;
    display: inline-block;
    padding: 5px 50px;
    text-decoration: none;
}

#menu{
    background-color: #BF9775; /* terziario */
    border: none;
    position: -webkit-sticky; /* Safari */
    overflow: auto;
    position: sticky;
    top: 0;
    z-index: 1;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #FFF8F0; /* chiaro */
}



#menu > a, #menu > button, .menubutton {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #A67A53; /* secondario */
    border: none;
    color: #FFF8F0; /* chiaro */
    font-family: 'Crimson Text', serif;
    padding: 4px 10px;
    size: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 0 5 0 0;
}
#menu > :hover, #menu > button:hover, .menubutton:hover, .searchboxbutton:hover{
    background-color:#0477BF; /* accento */
    cursor:pointer;
    outline: none;
}
#menu > a > i,#menu > button > i, .menubutton > i{
    font-size: 23px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: -20px;
}

.right{
    float: right!important;
    margin-right: 0px !important;
    margin-left: 5px;
}


.width100{
    width: 100%;
}

.form{
    margin: 50px;
}

.center_form{
    padding: 2em;
    max-width: 360px;
    margin: auto;
    margin-top: 10%;
    /* margin-bottom: 10%; */
    background: #BF9775; /* terziario */
    text-align: center;
    color: #734F43; /* scuro */
}


.link:visited{
    color:#0477BF; /* accento */
}
.link:hover{
    color:rgb(72, 161, 216); /* accento hover */
}

h2{
    color: #734F43; /* scuro */
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    margin-left: 20px;
}

label{
    color: #734F43; /* scuro */
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    margin-left: 5;
}
.copertina{
    height: 300px;
    object-fit: contain;
}

.formtextinput{
    font-family: 'Noto Sans SC', sans-serif;
    outline: 0;
    background: #FFF8F0; /* chiaro */
    color: #734F43; /* scuro */
    width: 100%;
    /* border: 0,0,2,0; */
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #734F43; /* scuro */
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
}
.searchbox{
    padding: 2em;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #BF9775; /* terziario */
    text-align: center;
    color: #734F43; /* scuro */
}
.searchboxinput{
    width: 80%;
    margin: 0;
}
.searchboxbutton{
    -webkit-appearance: none;
    background-color: #A67A53;
    border: none;
    color: #FFF8F0;
    font-family: 'Crimson Text', serif;
    padding: 11 0 11 0;
    width: 10%;
    text-decoration: none;
    vertical-align: bottom;
    display: inline-block;
    margin: 0 0 0 0;
    min-width: 35;
    max-width: 53;
    font-size: 30px;
}

.formriga{
    background: #BF9775; /* terziario */
    color: #734F43; /* scuro */    
    border-style: solid;
    border-top-width: 2;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-color: #FFF8F0; /* chiaro */
}
.rigatotale{
    background: #BF9775;
    width: fit-content;
    margin: auto;
    vertical-align: baseline;
    overflow: auto;
    margin-block-end: 1em;
    z-index: 1;
    border-style: solid;
    border-top-width: 2;
    border-left-width: 2;
    border-right-width: 2;
    border-bottom-width: 0;
    border-color: #FFF8F0; /* chiaro */
}

.autoflow{
    overflow: auto;
}
.numberinputriga{
    width: 60px; 
    margin: 0; 
    padding: 11 4 5 4;
    margin-right: 5px;
}
.error_message{
    color: #FFF8F0; /* chiaro */
    display: inline-block;
    background-color: rgb(132, 17, 17); /* secondario */
    font-family: 'Crimson Text', serif;
    padding: 10 30;
    font-size: 22;
    font-style: italic;
}

.info_message{
    color: #FFF8F0;
    background-color: rgb(19, 117, 40);
    font-family: 'Crimson Text', serif;
    /* display: inline-block; */
    padding: 5 10;
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    font-size: 22;
    font-style: italic;
}

.bottom_msg{
    font-family: 'Crimson Text', serif;
    margin-bottom: 0;
}
.definizione{
    color: #734F43; /* scuro */
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    margin-left: 5;
    margin-right: 10px;
}
.deftotale{
    color: #FFF8F0;
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    float: right;
    padding: 4 10;
}

/* Lista genere nel main */
.generemain{
    width: 300px;
    height: 200px;
    /* opacity: 0.5; */
    background-position: center;
    background-size: cover;
    margin: 15px;
    vertical-align: middle;
    background-color: rgba(115, 79, 67); /* scuro */
    float: left;
}
.generemain > a{
    display: inline-block;
    text-align: center;
    width: 300px;
    line-height: 200px;
    text-decoration: none;
    color: #FFF8F0;
    background-color: rgba(115, 79, 67, 0.5); /* scuro */
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    text-shadow:0px 0px 10px rgba(0, 0, 0, 0.404);
}
.generemain > a:hover{
    background-color:rgba(4, 119, 191, 0.5); /* accento */
}

.titologenere{
    color: #FFF8F0;
    background-color: rgba(115, 79, 67, 0.5); /* scuro */
    text-shadow:0px 0px 10px rgba(0, 0, 0, 0.404);
    margin: 0 0 0 0;
    padding: 100 10 10 50;
    width: 100%;
    font-size: 50px;
}
.backtitologenere{
    background-position: center;
    background-size: cover;
    background-color: rgba(115, 79, 67, 1); /* scuro */
}


/* Lista libri */
.listalibro{
    background-color: #BF9775; /* terziario */
    /* background-color: #A67A53; secondario */
    padding: 5px;
    margin:5px;
    display: flex;
    height: 160px;
    position: relative;
}
.holdcop{
    width: 100px;
    height: 100%;
    float: left;
    align-items: stretch;
    background-color:#734F43; /* scuro */
}
.middle{
    float: left;
    margin-right: 10px;
    overflow: hidden;
    max-width: 570px;
}
.definizionelista{
    color: #FFF8F0; /* chiaro */
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    margin-left: 5;
}
.titololista{
    color: #734F43; /* scuro */
    font-size: 30px;
}
.buttonkeeper{
    text-align: right;
    vertical-align: text-bottom;
    float: right!important;
    position: absolute; 
    right: 0; 
    bottom: 0;
    height: fit-content;
    margin: 10px;
    width: 200px;
}
.buttonkeeper > .menubutton,.buttonkeeper > .error_message,.buttonkeeper > .info_message {
    margin: 5 0 0 0;
    width: 100%;
    padding: 3px 10px;
    text-align: center;
    display: inline-block;
}
/* Lista modifca generi */
.heightgenere{
    height: 58px;
}

.posizionelista{
    color: #FFF8F0; /* chiaro */
    font-family: 'Crimson Text', serif;
    font-size: 80px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 2px;
    border-bottom-width: 0px;
    border-right-color: #FFF8F0; /* chiaro */
    border-style: solid;
    padding-right: 5px;
    margin-right: 5px;
    display: block;
    width: 85px;
}

.indirizzo{
    max-width: none;
    height: auto;
}

.stickbottom{
    position: sticky;
    bottom: 0;
}

#bottom{
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    box-sizing: inherit;
    text-align: center;
    padding: 10px;
    background-color: #A67A53; /* secondario */
    color: #FFF8F0; /* chiaro */
    font-family: 'Crimson Text', serif;
}

/* font-family: 'Noto Sans SC', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Special Elite', cursive; */

/* colori:
#0477BF accento
#FFF8F0 chiaro
#A67A53 secondario
#734F43 scuro
#BF9775 terziario 
rgb(72, 161, 216);  accento hover */
