{% extends "layout.html" %}

{% block title %}Librochiocciola{% endblock %}

{% block head %}
<script>
function eliminalibrocarr(isbn){
    r = confirm("Sicuro di voler rimuovere il libro dal carrello?");
    if (r == true) {
        window.location = '/remlibcar/' + isbn;
    }
}
</script>
{% endblock %}

{% block menu %}
{% include '/buttons/goback.html' %}
{%if session['usertype'] == 1%}
{% include '/buttons/visprofilo.html' %}
{%endif%}
{% include '/buttons/loginout.html' %}
{% endblock %}

{% block body %}
{%if session['usertype'] == 1%}
<h2> Carrello di {{session['username']}}</h2>
{%else%}
<h2> Carrello</h2>
{%endif%}
{%if libri%}
{%for libro in libri%}
    <div class="listalibro">
        <div class="holdcop">
            {%if libro['immagine'] %}
            <img class="copertina" src="{{url_for('static', filename='copertine/'+libro['immagine'])}}" class="copertina"/>
            {%endif%}
        </div>
        <div class ="middle">
            <span class="definizionelista titololista">{{libro.titolo}}</span><br>
            <span class="definizionelista">{{libro.nomeaut}}</span><br>
            <span class="definizionelista">{{libro.nomeedit}}</span>
        </div>
        <div class ="buttonkeeper">
            <span class="definizionelista">€{{libro.prezzo|float}} - qta: {{libro.rel_quant}} {{session['carrello'][libro.isbn]}} - {{libro.punti}} pt</span><br>
            <button class="menubutton right" onclick="eliminalibrocarr({{libro.isbn}})">Rimuovi</button>
            <a href="/libro/{{libro.isbn}}" class="menubutton right">Visualizza</a>
            {%if libro.quant == 0%}
            <span class="error_message">Prodotto esaurito.</span>
            {%else %}
            {%if session['usertype'] == 1 and libro.quant < libro.rel_quant%}
            <span class="error_message">Copie insufficienti.</span>
            {%elif  session['usertype'] == 0 and libro.quant < session['carrello'][libro.isbn]|int%}
            <span class="error_message">Copie insufficienti.</span>
            {%endif%}   
        {%endif%}
        </div>
    </div>
{%endfor%}
<div class="rigatotale stickbottom" >
{%if prodottinondisponibili%}
<span class="error_message right" style="height: 38px; padding: 4 10;">Alcuni prodotti non sono disponibili nelle quantità richieste</span>
{%else%}
<a href="/checkout"class="menubutton right ">Procedi all'acquisto</a>
{%endif%}
<span class="deftotale">Totale: €{{totprezzo|float}} - Totale punti: {{totpunti}}</span>
</div>
{%else%}
<span class="definizionelista titololista">carrello vuoto</span>
{%endif%}
{% endblock %}