{% extends "layout.html" %}

{% block title %}Acquisto{% endblock %}

{% block head %}
<script>
        function togglenewaddress() {
            div = document.getElementById("newaddress");
            radio = document.getElementById("radionew");
            if (radio.checked == true){
                div.style.display = "block";
                elements = document.getElementsByClassName("required");
                Array.from(elements).forEach(setrequired);
            }
            else{
                div.style.display = "none";
                elements = document.getElementsByClassName("required");
                Array.from(elements).forEach(unsetrequired);
            }
        }

        function setrequired(item){
            item.required = true;
        }
        function unsetrequired(item){
            item.required = false;
        }

    </script>
{% endblock %}

{% block menu %}
{% include '/buttons/goback.html' %}
{% endblock %}

{% block body %}
<h2> Checkout</h2>
<form id="formacquisto" action="/execcheckout" method="POST">
    {%for indirizzo in indirizzi%}
    <div class="listalibro indirizzo">
        <div class="posizionelista" style="width: auto"><input type="radio" name="idindirizzo" value={{indirizzo.idindirizzo}} onclick="togglenewaddress()"></div>
        <div class ="middle indirizzo">
            <span class="definizionelista titololista">{{indirizzo.nomecognome}}</span><br>
            <span class="definizionelista">{{indirizzo.indirizzo}} - {{indirizzo.citta}} - {{indirizzo.paese}} - {{indirizzo.numtel}} - {{indirizzo.cap}} - {{indirizzo.provincia}}</span>
        </div>
    </div>
    {%endfor%}
    <div class="listalibro indirizzo">
        <div class="posizionelista"style="width: auto">
            <input type="radio" name="idindirizzo" value="new" checked="checked" onclick="togglenewaddress()" id="radionew">
        </div>
        <div class ="middle indirizzo">
            <span class="definizionelista titololista">Aggiungi nuovo indirizzo</span><br>
            <div id="newaddress">
                <label class="definizionelista">Nome e cognome*:</label>
                <input type="text" placeholder="Nome e Cognome del destinatario" name="o_nomecognome" class="formtextinput required" required>
                <label class="definizionelista">Indirizzo*:</label>
                <input type="text" placeholder="Via / viale" name="o_indirizzo" class="formtextinput required" required>
                <label class="definizionelista">Città*:</label>
                <input type="text" placeholder="Città" name="o_citta" class="formtextinput required" required>
                <label class="definizionelista">Provincia:</label>
                <input type="text" placeholder="Provincia" name="o_provincia" class="formtextinput">
                <label class="definizionelista">Paese/Stato*:</label>
                <input type="text" placeholder="Paese/Stato: ( Italia,...)" name="o_paese" class="formtextinput required" required>
                <label class="definizionelista">Numero di telefono*:</label>
                <input type="text" placeholder="Numero di telefono" name="o_numtel" class="formtextinput required" required>
                <label class="definizionelista">CAP:</label>
                <input type="text" placeholder="CAP" name="o_cap" class="formtextinput">
                <span class="definizione">* parametro obbligatorio.</span>
            </div>
        </div>
    </div>

    <label>Metodo di pagamento:</label>
    <select name="o_pagamento" required class="formtextinput" value="">
        <option value="" disabled selected>*Seleziona metodo*</option>
        <option value="Mastercard" >Mastercard</option>
        <option value="Visa" >Visa</option>
        <option value="PayPal" >PayPal</option>
        <option value="Contrassegno" >Contrassegno</option>
    </select>

<div class="rigatotale stickbottom" >
    <button type="submit" class="menubutton right ">Concludi ordine</button>
    <span class="deftotale" style="float: left;">Totale: €{{session['totprezzo']}}
    {%if session['usertype']==1%} - Totale punti: {{session['totpunti']}}</span>
    {%else%}</span><span class="error_message right" style="height: 38px; padding: 4 10;">Non sei registrato, perderai {{session['totpunti']}} punti!</span>
    {%endif%}
 
</div>
</form>
{% endblock %}