{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block menu %}
{% include '/buttons/insertbook.html' %}
{% include '/buttons/gestgeneri.html' %}
{% include '/buttons/getordine.html' %}
{% include '/buttons/loginout.html' %}
{% endblock %}
{% block body %}
<h2>Dashboard - {{session['username']}} - id({{session['userid']}})</h2>
<form action="/search" class="searchbox" method="GET" >
    <input type="text" class="formtextinput searchboxinput" name="string" placeholder="Cerca libro"><button type="submit" class="searchboxbutton"><i class="icon ion-md-search"></i></button>
</form>
{% endblock %}