{% extends "layout.html" %}
{% block title %}Gestisci generi{% endblock %}
{% block menu %}
{% include '/buttons/goback.html' %}
{% include '/buttons/dashboard.html' %}
{% include '/buttons/addgenere.html' %}
{% endblock %}
{% block body %}
<h2>Lista generi</h2>
{%for genere in generi%}
<div class="listalibro heightgenere">
        <div class="holdcop">
            {%if genere['immaginegenere'] %}
            <img class="copertina" src="{{url_for('static', filename='generi/'+genere.immaginegenere)}}" class="copertina"/>
            {%endif%}
        </div>
        <div class ="middle">
            <span class="definizionelista titololista">{{genere.nomegenere}}</span>
        </div>
        <div class ="buttonkeeper">
            <a href="/modgenere/{{genere.idgenere}}" class="menubutton right">Modifica</a>
        </div>
    </div>
{%endfor%}
{% endblock %}