<html>
     <!-- {%if alert != ''%} onload="alert(' {{alert}} ')"{%endif%}>  -->
    <head>
        <meta charset ="utf -8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Noto+Sans+SC|Sacramento|Special+Elite&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/ionicons@4.5.10-1/dist/css/ionicons.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}{% endblock %}
    </head>
    <body {% with messages = get_flashed_messages() %}
        {% if messages %}
            onload= "
            {% for message in messages %}
                alert(' {{message}} ')
            {% endfor %}
            "
        {% endif %}
    {% endwith %}>
    <div class="main">
        <div id="topbar"><a href="/">Librochiocciola</a> 
            <!-- logo e altro -->
        </div>
        <div id="menu" class="width100">{% block menu %}{% endblock %}</div>
        {% block body %}{% endblock %}
    </div>
    <div id = "bottom">by Daniele e Andrea</div>
    </body>

</html>