{% extends "layout.html" %}

{% block title %}
{%if search %}
Risultati ricerca
{%else%}
{{genere.nomegenere}}
{%endif%}
{% endblock %}

{% block head %}
<script>
function aggiungialcarrello(isbn){
    r = prompt("Indica la quantità",'1');
    if (r !=null) {
        if(isNaN(r) || r<1){
            alarm("Numero errato")
        }
        else{
            document.getElementById("formAddCart-quant").value= r;
            document.getElementById("formAddCart-isbn").value= isbn;
            document.getElementById("formAddCart").submit();
        }
    }
}

</script>
<form action="/addtocart" method="POST" style="display:none"  id="formAddCart">
    <input type="hidden" name="quant" id="formAddCart-quant" value="1">
    <input type="hidden" name="isbn" id="formAddCart-isbn" value="0">
</form>
{% endblock %}

{% block menu %}
{% include '/buttons/goback.html' %}
{%if session['usertype'] == 2 %}
{% include '/buttons/dashboard.html' %}
{%else%}
{%if session['usertype'] == 1%}
{% include '/buttons/visprofilo.html' %}
{%endif%}
{% include '/buttons/carrello.html' %}
{%endif%}
{% include '/buttons/loginout.html' %}
{% endblock %}

{% block body %}


{%if search %}
<h2> Risultati di ricerca per {{search}}</h2>
{%else%}
<div class="backtitologenere" {%if genere.immaginegenere%} style="background-image: url('{{url_for('static', filename='generi/'+genere.immaginegenere)}}')"{%endif%}><h2 class="titologenere">{{genere.nomegenere}}</h2></div>
{%endif%}

{%if libri%}
{%for libro in libri%}
    <div class="listalibro">
        {%if genere and libro.posclas < 11 %}<div class="posizionelista">{{libro.posclas}}</div>{%endif%}
        <div class="holdcop">
            {%if libro['immagine'] %}
            <img class="copertina" src="{{url_for('static', filename='copertine/'+libro['immagine'])}}" class="copertina"/>
            {%endif%}
        </div>
        <div class ="middle">
            <span class="definizionelista titololista">{{libro.titolo}}</span><br>
            <span class="definizionelista">{{libro.nomeaut}} - {{libro.nomeedit}}</span><br>
            <span class="definizionelista">{{libro.isbn}} - {{libro.datapub}}</span>
            <!-- <a class="definizionelista link" href="/genere/{{genere.idgenere}}">{{libro.nomegenere}}</a> -->
        </div>
        <div class ="buttonkeeper">
            <span class="definizionelista">€{{libro.prezzo}}</span>
            {%if session['usertype'] == 2 %}<span class="definizionelista">Quantità: {{libro.quant}}</span>
            <br>
            <a href="/insalterbook/{{libro.isbn}}" class="menubutton right">Modifica</a>
            {%endif%}
            <br>
            <a href="/libro/{{libro.isbn}}" class="menubutton right">Visualizza</a>
            <br>
            {%if libro['quant'] < 1%}
            <span class="error_message">Prodotto esaurito.</span>
            {%else%}
                {%if session['usertype'] != 2 %}
                <button class="menubutton right" onclick="aggiungialcarrello({{libro.isbn}})">Aggiungi al carrello</button>
                {%endif%}
            {%endif%}
        </div>
    </div>
{%endfor%}
{%else%}
<span class="definizionelista titololista">Nessun risultato trovato</span>
{%endif%}
{% endblock %}