{% extends "layout.html" %}
{% block title %}{{genere.nomegenere}}{% endblock %}
{% block head %}

<script>
        function rinomina(){
            var r = prompt("Inserisci il nuovo nome:",'{{genere.nomegenere}}');
            if (r !=null) {
                document.getElementById("formChange-nome").value= r;
                document.getElementById("formChange").submit();
            }
        }
        function cambiaimmagine(file){
            r = confirm("Sicuro di voler cambiare l'immagine?");
            if (r == true) {
                document.getElementById("formChangeImg").submit();
              }
            else{
                document.getElementById("selettore").value='';
            }
        }
        function eliminafoto(){
            r = confirm("Sicuro di voler eliminare l'immagine?");
            if (r == true) {
                document.getElementById("formChange-immagine").value= '';
                document.getElementById("formChange").submit();
              }
        }
</script>
<form action="/execmodgenere" method="POST" style="display:none" enctype="multipart/form-data" id="formChangeImg">
    <input type="hidden" name="idgenere" value="{{genere.idgenere}}">
    <input type="hidden" name="nomegenere" value="{{genere.nomegenere}}">
    <input type="hidden" name="immaginegenere" value="{%if genere.immaginegenere %}{{genere.immaginegenere}}{%endif%}">
    <input type=file name="immaginegenere" id="selettore" onchange="cambiaimmagine(this.files)"><br>
</form>
<form action="/execmodgenere" method="POST" style="display:none" enctype="multipart/form-data" id="formChange">
    <input type="hidden" name="idgenere" value="{{genere.idgenere}}" >
    <input type="hidden" name="nomegenere" value="{{genere.nomegenere}}" id="formChange-nome">
    <input type="hidden" name="immaginegenere" value="{%if genere.immaginegenere %}{{genere.immaginegenere}}{%endif%}" id="formChange-immagine">
</form>
{% endblock %}
{% block menu %}
{% include '/buttons/goback.html' %}
{% include '/buttons/gestgeneri.html' %}
{% include '/buttons/dashboard.html' %}
<button onclick="rinomina()"><i class="icon ion-md-cube"></i>Rinomina</button>
<label for="selettore" class="menubutton"><i class="icon ion-md-cube"></i>Carica foto</label>
<button onclick="eliminafoto()"><i class="icon ion-md-cube"></i>Elimina foto</button>
<button onclick="elimina()"><i class="icon ion-md-cube"></i>Elimina genere</button>
{% endblock %}
{% block body %}
<h2>{{genere.nomegenere}}</h2>
{%if genere.immaginegenere %}
<img src="{{url_for('static', filename='generi/'+genere.immaginegenere)}}"/>
{%endif%}
<h2>Classifica libri:</h2>
{%for libro in libri%}
    <div class="listalibro ">
        <div class="posizionelista">{{libro.posclas}}</div>
        <div class="holdcop">
            {%if libro['immagine'] %}
            <img class="copertina" src="{{url_for('static', filename='copertine/'+libro['immagine'])}}" class="copertina"/>
            {%endif%}
        </div>
        <div class ="middle">
            <span class="definizionelista titololista">{{libro.titolo}}</span><br>
            <span class="definizionelista">{{libro.nomeaut}}</span><br>
            <span class="definizionelista">{{libro.nomeedit}}</span>
        </div>
        <div class ="buttonkeeper">
            <span class="definizionelista">€{{libro.prezzo}} - {{libro.punti}} punti</span><br>
            <a href="/libro/{{libro.isbn}}" class="menubutton right">Visualizza</a>
            <a href="/insalterbook/{{libro.isbn}}" class="menubutton right">Modifica</a>           
        </div>
    </div>
{%endfor%}
{% endblock %}