{% extends "layout.html" %}

{% block title %}{{libro['titolo']}}{% endblock %}

{% block menu %}
{% include '/buttons/goback.html' %}
{%if session['usertype'] == 2%}
{% include '/buttons/dashboard.html' %}
<a href="/insalterbook/{{libro['isbn']}}"><i class="icon ion-md-create"></i>Modifica</a>
{%else%}
{% include '/buttons/carrello.html' %}
{%if session['usertype'] == 1%}
{% include '/buttons/visprofilo.html' %}
{%endif%}
{%endif%}
{% include '/buttons/loginout.html' %}
{% endblock %}

{% block body %}
<h2>{{libro['titolo']}}</h2>
<div class="descrcontainer">
    {%if libro['immagine'] %}<img class="copertina_big" src="{{url_for('static', filename='copertine/'+libro['immagine'])}}" class="copertina"/>{%endif%}
    <span class="definizione">Autore:</span><p>{{libro['nomeaut']}}</p><br>
    <span class="definizione">Case editrice:</span><p>{{libro['nomeedit']}}</p><br>
    <span class="definizione">Genere:</span><a href="/genere/{{libro['idgenere']}}" class="link"><p>{{libro['nomegenere']}}</p></a><br>
    <span class="definizione">ISBN:</span><p>{{libro['isbn']}}</p><br>
    <span class="definizione">Data pubblicazione:</span><p>{{libro['datapub'].strftime('%d %B %Y')}}</p><br>
    <span class="definizione">Prezzo:</span><p>€{{libro['prezzo']}}</p><br>
    <span class="definizione">Punti:</span><p>{{libro['punti']}}</p><br>
    <span class="definizione">Posizione in classifica:</span><p>{{libro['posclas']}}</p><br>
    <span class="definizione">Settimane in classifica:</span><p>{{settclassifica}}</p><br><br><br>
    <span class="definizione">Descrizione:</span><p>{{libro['descr']}}</p><br>

    {%if session['usertype'] == 2%}
    <span class="definizione">Quantitá in magazzino:</span><p>{{libro['quant']}}</p><br>
    {%endif%}
</div>
{%if libro['quant'] < 1%}
<span class="error_message">Prodotto esaurito.</span><br>
{%else%}
{%if session['usertype'] != 2 %}
<form method="POST" action="/addtocart" class="formriga stickbottom" >
    <label class="definizione">Quantitá:</label><input type="number" name="quant" min="1" value= "{{[1,quantcarr]|max}}" class="numberinputriga formtextinput "><input type="hidden" name="isbn" value="{{libro['isbn']}}"><input  type="submit" value="{%if quantcarr > 0 %}Modifica quantitá{%else%}Aggiungi al carrello{%endif%}" class="menubutton">{%if quantcarr > 0 %}<span class="info_message">Libro già presente nel carrello:</span><a class="menubutton" href="/remlibcar/{{libro.isbn}}">Rimuovi</a>{%endif%}
</form>
{%endif%}
{%endif%}

{% endblock %}