{% extends "layout.html" %}

{% block title %}{{libro['titolo']}}{% endblock %}

{% block menu %}
{% include '/buttons/goback.html' %}
{%if session['usertype'] == 2%}
{% include '/buttons/dashboard.html' %}
<a href="/insalterbook/{{libro['isbn']}}"><i class="icon ion-md-clipboard"></i>Modifica</a>
{%else%}
{% include '/buttons/carrello.html' %}
{%if session['usertype'] == 1%}
{% include '/buttons/visprofilo.html' %}
{%endif%}
{%endif%}
{% include '/buttons/loginout.html' %}
{% endblock %}

{% block body %}
<h2>{{libro['titolo']}}</h2>
{%if libro['immagine'] %}
<img class="copertina" src="{{url_for('static', filename='copertine/'+libro['immagine'])}}" class="copertina"/>
{%endif%}<br>
<span class="definizione">Autore:</span>{{libro['nomeaut']}}<br>
<span class="definizione">Case editrice:</span>{{libro['nomeedit']}}<br>
<span class="definizione">Genere:</span><a href="/genere/{{libro['idgenere']}}" class="link">{{libro['nomegenere']}}</a><br>
<span class="definizione">ISBN:</span>{{libro['isbn']}}<br>
<span class="definizione">Data pubblicazione:</span>{{libro['datapub']}}<br>
<span class="definizione">Prezzo:</span>€{{libro['prezzo']}}<br>
<span class="definizione">Punti:</span>{{libro['punti']}}<br>
<span class="definizione">Descrizione</span>{{libro['descr']}}<br>
<span class="definizione">Posizione in classifica:</span>{{libro['posclas']}}<br>
<span class="definizione">Settimane in classifica:</span>{{settclassifica}}<br>
{%if session['usertype'] == 2%}
<span class="definizione">Quantitá in magazzino:</span>{{libro['quant']}}<br>
{%endif%}
{%if libro['quant'] < 1%}
<span class="error_message">Prodotto esaurito.</span><br>
{%else%}
{%if session['usertype'] != 2 %}
<form method="POST" action="/addtocart" class="formriga">
    <label class="definizione">Quantitá:</label><input type="number" name="quant" min="1" value= "{{[1,quantcarr]|max}}" class="numberinputriga formtextinput "><input type="hidden" name="isbn" value="{{libro['isbn']}}"><input  type="submit" value="{%if quantcarr > 0 %}Modifica quantitá{%else%}Aggiungi al carrello{%endif%}" class="menubutton">{%if quantcarr > 0 %}<span class="info_message">Libro già presente nel carrello:</span><a class="menubutton" href="/remlibcar/{{libro.isbn}}">Rimuovi</a>{%endif%}
</form>
{%endif%}
{%endif%}

{% endblock %}