<html>
    <head>
        <meta charset ="utf -8">
        <title>{{titolo}}</title>
        <script>
            function elimina(id){
              var txt;
              var r = confirm("Do you really want to delete?");
              if (r == true) {
                window.location = '/delete?id=' + id;
              }              
            }
            </script>
    </head>
    <body{%if alert != ''%} onload="alert(' {{alert}} ')"{%endif%}>
        
        <h1 >{{titolo}}</h1>
        <a href="/inserttable">Inserisci una nuova entry!</a>
        {%if usrtype == 0%}
        <a href="/login">LOGIN</a>
        {%else%}
        <a href="/logout">LOGOUT</a>
        {%endif%}
        <!-- <div>{{alert}}</div> -->
        <table>
            <thead>
                <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Quantitá</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                    {%for tab in lista%}
                    <tr>
                        <th class =" numero ">{{tab['idn']}}</th>
                        <th>{{tab.nome}}</th>
                        <th class =" numero ">{{tab.quant}}</th>
                        <th><button onclick="elimina({{tab.idn}})">DELETE</button></th>
                    </tr>
                    {%endfor%}
            </tbody>
        </table>
    </body>

</html>