{% extends "Topbar.html" %}
{% block body %}
        <a href="/inserttable">Inserisci una nuova entry!</a>

        <!-- <div>{{alert}}</div> -->
        <table>
            <thead>
                <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Quantitá</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                    {%for tab in lista%}
                    <tr>
                        <th class =" numero ">{{tab['idn']}}</th>
                        <th>{{tab.nome}}</th>
                        <th class =" numero ">{{tab.quant}}</th>
                        <th><button onclick="elimina({{tab.idn}})">DELETE</button></th>
                    </tr>
                    {%endfor%}
            </tbody>
        </table>
        {% endblock %}