{% extends "Topbar.html" %}
{% block body %}
        <h1>REGISTRAZIONE</h1>
        <a href="/">Torna alla home</a>.
        <a href="/login">torna al login</a>.
        <form action="/exec-registrazione" method="POST" enctype=multipart/form-data>
            <label>Email:</label>
            <input type="email" name = email required><br>
            <label>Username:</label>
            <input type="text" name = username required><br>
            <label>Password:</label>
            <input type="text" name = password required><br>
            <label>Profil eimage:</label>
            <input type=file name=image>
            <input type="submit" value="REGISTRATI">
        </form>
{% endblock %}